#Ignore testing 'main.lua' files
main_*

#Ignore directories
old/
pending/
font/dev/
img/debug/

#Ignore thumbnails created by windows
Thumbs.db

#Ignore batch files for file modification
*.bat

#Ignore image editing project files
*.psd
*.pdn
*.xcf

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr

